:root {
	--main-color: #2196f3;
	--second-color: #2196f3;
	--third-color: #2196f3;
}
.create-btn {
	background-color: var(--main-color);
	color: white;
	width: 200px;
	height: 80px;
	margin: 60px 20px 20px;
	&:hover {
		color: white;
	}
}
body {
	height: 100vh;
	&.overlay {
		position: relative;
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(black, 70%);
			z-index: 1000;
		}
	}
}
.header {
	background-color: var(--main-color);
	color: white;
	padding: 15px;
	text-align: center;
}
.page-content {
	.container {
		position: relative;
		min-height: 100vh;

		.tasks-page {
			position: relative;
			left: 50%;
			top: 100px;
			transform: translateX(-50%);
			width: 100%;
			border-radius: 12px;
			padding: 10px;

			> .task {
				margin-top: 20px;
				width: 95%;
				.svg-box,
				.remove-box,
				.progress-box {
					border-color: var(--main-color);
					svg {
						color: var(--main-color);
					}
				}
				&::before {
					background-color: var(--main-color);
				}
			}
			.progress-tasks {
				position: relative;
				margin-top: 200px;
				border-radius: 12px;
				padding: 20px;
				width: 98%;
				.task {
					.svg-box,
					.remove-box,
					.progress-box {
						border-color: var(--second-color);
						svg {
							color: var(--second-color);
						}
					}
					&::before {
						background-color: var(--second-color);
					}
				}
			}
			.achieved-tasks {
				position: relative;
				margin-top: 200px;
				border-radius: 12px;
				padding: 20px;
				width: 95%;
				.task {
					.svg-box,
					.remove-box,
					.progress-box {
						border-color: var(--third-color);
						svg {
							color: var(--third-color);
						}
					}
					&::before {
						background-color: var(--third-color);
					}
				}
				.achieve-box::before {
					transform: translate(-3px, 11px) rotate(-55deg);
					width: 50%;
					background-color: rgb(69, 214, 69);
				}
				.achieve-box::after {
					transform: translate(-3px, -6px) rotate(-25deg);
					background-color: rgb(69, 214, 69);
					width: 110%;
				}
			}
		}
	}
}
.popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #eee;
	width: 85%;
	height: 70%;
	z-index: 1001;
	display: flex;
	justify-content: center;
	align-items: center;
	.delete-popup {
		background-color: var(--main-color);
		border: none;
		color: white;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: absolute;
		top: -20px;
		right: -20px;
		transition: 0.3s;
	}
	form {
		text-align: center;
		input:not([type="submit"]) {
			border: none;
			padding: 20px;
			width: 95%;
			margin: 10px;
			&:focus {
				outline: none;
			}
		}
		input[type="submit"] {
			@extend .create-btn;
			border: none;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
.task-page {
	display: none;
}
.active-task-page {
	width: 100%;
	position: relative;
	.back-btn {
		color: var(--main-color) !important;
		font-weight: bold !important;
	}
	p {
		margin-top: 50px;
		width: 90%;
		margin: 50px 20px;
		overflow-wrap: break-word;
		line-height: 1.7;
	}
}
h2 {
	position: absolute;
	top: -22px;
	background-color: #eee;
	width: calc(95% - 20px);
	padding: 10px 10px 0;
	border-radius: 20px 20px 0px 0px;
	.color-list {
		list-style: none;
		text-align: center;
		padding: 0;
		margin: 0px 0px 45px;
		li {
			width: 24px;
			height: 24px;
			background-color: black;
			border-radius: 50%;
			cursor: pointer;
			display: inline-block;
			transition: 0.3s;
			border: 2px solid transparent;
			&.active,
			&:hover {
				border-color: white;
			}
			&:first-child {
				background-color: #f44336;
			}
			&:nth-child(2) {
				background-color: #2196f3;
			}
			&:nth-child(3) {
				background-color: #9c27b0;
			}
			&:nth-child(4) {
				background-color: #673ab7;
			}
			&:nth-child(5) {
				background-color: #607d8b;
			}
		}
	}
}
.task {
	width: 98%;
	background-color: white;
	padding: 12px 10px;
	transition: 0.4s;
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	font-size: 13px;
	margin-top: 12px;
	box-shadow: 0 0 5px black;
	@media (max-width: 556px) {
		width: 102%;
	}
	&:hover {
		margin-left: 50px;
		color: white;
		background-color: transparent;
		box-shadow: 0 0 0;
		@media (max-width: 991px) {
			margin-left: 20px;
		}
		&::before {
			width: 100%;
			z-index: -1;
		}
		& .tools-box .svg-box,
		& .tools-box .remove-box,
		& .tools-box .progress-box {
			border-color: white !important;
			svg {
				color: white !important;
			}
		}
		&:hover {
			.achieve-box {
				transform: translateX(-10px);
			}
			.achieve-box::before {
				transform: translate(-3px, 11px) rotate(-55deg);
				width: 50%;
				background-color: white;
			}
			.achieve-box::after {
				transform: translate(-3px, -6px) rotate(-25deg);
				background-color: white;
				width: 110%;
			}
		}
	}
	&::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 5px;
		top: 0;
		left: 0;
		transition: inherit;
	}
	.tools-box {
		display: flex;
		align-items: center;
		.svg-box,
		.remove-box,
		.progress-box {
			border-radius: 50%;
			border: 2px solid var(--main-color);
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.4s;
			margin-left: 20px;
			z-index: 10;
			@media (max-width: 556px) {
				margin-left: 3px;
			}
			svg {
				transition: 0.4s;
				padding: 10px;
			}
		}
		.achieve-box {
			position: relative;
			width: 40px;
			height: 20px;
			background-color: transparent;
			@media (max-width: 556px) {
				width: 30px;
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: var(--second-color);
				left: 0;
				transition: 0.4s;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
		}
		.remove-box {
			width: 40px;
			height: 40px;
		}
	}
}
